*{
	margin: 0;
	padding: 0;
	font-family: 'poppins',sans-serif;
}

body{
	font-size: 16px;
	overflow-x: hidden;
	fond-weight: normal;
}
ul, li{
	list-style: none;
	display: inline-block;
}
.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media(min-width: 768px){
	.container{
		width: 750px;
	}
}
@media(min-width: 992px){
	.container{
		width: 970px;
	}
}
@media(min-width: 768px){
	.container{
		width: 750px;
	}
}
@media(min-width: 1200px){
	.container{
		width: 1170px;
	}
}

.f-left{
	float: left;
}

.f-right{
 float: right;
}

a,a:hover{
	text-decoration: none;
}

#top-nav{
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid rgb(255 255 255 / 30%);
	transition: 0.5s;
}
#top-nav .logo-wrapper{
	font-size: 24px;
	font-weight: 600;
	
}
#top-nav .logo-wrapper .logo{
color: #1f1f1f;
}
.navbar-weapper li .link-item{
color: #1f1f1f;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
height: 50px;
line-height: 50px;
padding: 0 20px;
}
.navbar-weapper li.active a{
	color: #e65f78;
}
#hero-area{
	position: relative;
}
#hero-area .hero-cover{
	background-image: url(../2.jpeg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
#hero-area .hero-cover .hero-content-box{
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-40%);
	color: #fff;
}
#hero-area .hero-cover .hero-content-box .hello{
	font-size: 18px;
	font-weight: 300;
	color: #000;
}
#hero-area .hero-cover .hero-content-box .post{
	margin: 20px 0 20px 0;
	font-size: 35px;
	color: #000;
}
#hero-area .hero-cover .hero-content-box .hero-desc{
	font-size: 16px;
	color: #fff;
	margin-bottom: 60px;
}
#hero-area .hero-cover .hero-content-box .hero-btns .btn{
 margin-right: 20px;
 position: relative;
 z-index: 1;
}
.btn{
	text-transform: uppercase;
	padding: 10px 20px;
	color: #fff;
	font-size: 14x;
	font-weight: 600;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.btn:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	transition: all 0.4s ease-in-out;
	transform: scaleX(0);
	z-index:-1;
}
.btn-white{
	background-color: #fff;
	color: #1f1f1f;
}
.btn-white:hover{
	color: #fff;
}
.btn-white:hover:before{
   background-color: #e65f78;
	}
.btn-white:hover:before,
.btn-red:hover:before{
	transform: scaleX(1);
}
.btn-red{
	background-color: #e65f78;
	color: #fff;
}
.btn-red:hover{
	color: #e65f78;
}
.btn-red:hover:before{
background-color: #fff;

}
.section{
	padding: 100px 0;
}

.section-title{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
}
#About .about-pic{
width: 37%;
padding: 7px;
border: 1px solid #c6c5c7;
}
#About .about-pic img{
display: block;
max-width: 100%;
}

#About .about-content{
 width: 60%;
 margin-top: 20px;
 letter-spacing: 1px;
}
#About .about-content h4 span{
  color: #e65f78;
}
#About .about-content .about-subtitle{
font-size: 18px;
font-weight: 400;
margin: 20px 0 0 0;
}

#About .about-content .about-btns{
	margin: 40px 0 20px 0;

}
#About .about-content .about-btns .btn-white{
 border: 1px solid #e65f78;
}

#About .about-content .about-btns .btn-white{
	margin: 0 20px 0 0;
}
.clear-fix{
	content: '';
	display: table;
	clear: both;
}
.text-center{
text-align: center;
}
.section-subtiting{
margin: 30px 0;
font-size: 20px;
}
.white-smoke-color{
background-color: #f7f7f7;
}
#services .section-heading .section-title{
  font-size: 36px;
}
#services.services-wrapper{
margin: 40px 0 0 0;
}
#services .services-item{
 float: left;
 width: calc(100% /3 -20px);
 padding: 40px 20px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 background-color: #fff;
 box-shadow: 0 0 25px rgb(24 24 24 / 10%);
 transition: 0.3s;
}
#services .services-item .item-title{
margin: 20px 0 20px 0;
font-size: 23px;
font-weight: 500;
}
#services .services-item .icon{
font-size: 50px;
color: #e65f78;
}
#services .services-item:hover{
background-color: #1f1f1f;
}
#services .services-item:hover .icon,
#services .services-item:hover .item-title,
#services .services-item:hover .item-desc{
  color:#fff;
}

.section-cover{
background-color: #1f1f1f;
}
#hire-me .section-heading{
padding: 80px 0;
}
#hire-me .section-title{
color: #fff;
}
#hire-me .section-heading .section-subtitle{
	color: #fff;
	margin: 30px 0;
}
#contact .contact-contact .message,
contact .contact-contact .contact-info.{
width: calc(100% / 2 - 20px);
}
#contact .contact-contact .message{
margin: 0 40px 40px 0;
}
#contact .contact-contact .title{
font-size: 18px;
text-transform: capitalize;
margin-bottom: 20px;
}
#contact .contact-contact form input{
width: 100%;
border-radius: 3px;
}
input, textarea{
border: none;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
outline: none;
padding: 15px 20px
}
#contact .contact-contact form .input-name ,
#contact .contact-contact form .input-mail{
width: calc(100% / 2 - 10px);
margin: 0 0 20px 0;
}
#contact .contact-contact form .input-name{
margin-right: 20px;
}
#contact .contact-contact form .input-textarea{
margin: 20px 0 30px 0;
width: 100%;
}

#contact .contact-contact form .input-textarea textarea{
width: 100%;
height: 150%;
min-height: 150px;
max-height:150px ;
}
#contact .contact-contact form[type="submit"]{
cursor: pointer;
width: 150px;
border: 1px solid #e65f78
}
#contact .contact-contact ul.contact-detail{
margin: 20px 0;
}
#contact .contact-contact ul.contact-detail li{
display: block;
margin: 20px 0 20px 0;
}
#contact .contact-contact ul.contact-detail .contact-icon{
margin: 0 20px 0 0;
width: 60px;
height: 60px;
line-height: 75px;
text-align: center;
position: relative;
}
#contact .contact-contact ul.contact-detail .contact-icon i{
font-size: 32px;
margin-top: 14px;
color: #e65f78;
}
#contact .contact-contact ul.contact-detail .contact-text{
width: 200px;
padding: 10px 0;
}
#footer{
background-color: #222;
position: relative;
}
#footer .footer-bottom{
margin: 20px 0 0 0;
border-top: 4px solid #292929;
padding: 30px 0;
}
#footer .footer-bottom .copyright{
color: #fff;
text-transform: capitalize;
font-size: 17px;
margin: 10px 0 20px 0;
line-height: 26px;
}

.btn-mouse-wrapper{
position: absolute;
display: inline-block;
left: 50%;
bottom: 10%;
transform: translateX(-50%);
z-index: 1;
}
.btn-mouse-wrapper .btn-mouse{
border: 2px solid #c6c5c7;
padding: 20px 15px;
border-radius: 50px;
}
.btn-mouse-wrapper .btn-mouse .btn-wheel{
width: 3px;
height: 10px;
padding: 0;
background-color: #c6c5c7;
transform: translateY(-10px);
animation: updown 2s ease .1s infinite;
}

@keyframes updown{
0%{
  transform: translateY(-10px);
}
30%{
  transform: translateY(-10px);
}
50%{
  transform: translateY(-10px);
}
80%{
  transform: translateY(-10px);
}
100%{
  transform: translateY(-10px);
  opacity: 0.1;
}


}